.border-radius-22 {
  border-radius: 22px !important;
}

.border-radius-8 {
  border-radius: 8px;
}

.img-fit-content {
  height: fit-content;
}

.btn-blue {
  background-color: #1483f8;
  border-color: #1483f8;
  color: #fff !important;
}

.dyon-exchange-btn {
  padding: 0.6rem 1.5rem;
  font-size: 14px;
}

.arrow-right-white {
  width: 24px;
  background: url('/public/images/general/arrow-right-white.svg') no-repeat;
}

.blue-text {
  color: #1483f8;
}
