.footer-container {
  font-size: 14px;
  background-color: #1d2f40;
}

.footer-top-container {
  background-color: #1d2f40;
  margin: auto;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 150px;
  max-width: 1250px;
  padding: 80px 0px 48px;
  margin: auto;
  color: #a1b0be;
  justify-items: center;
  align-items: flex-start;
}

.footer-links {
  display: grid;
  row-gap: 15px;
  align-self: baseline;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.footer-links .footer-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #a1b0be;
}

.ft-logo {
  max-width: 150px;
}

.ft-logo-img {
  height: 68px;
  width: 144px;
  margin-bottom: 28px;
}

.ft-desc {
  max-width: 215px;
  width: 215px;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 50px;
  background-color: #0a1928;
  align-items: center;
  justify-items: center;
  color: white;
}

.social-icon-margin a:not(:last-child) {
  margin-right: 9px;
}

.footer-bottom > div {
  padding: 10px;
}

.tnc-policy {
  display: flex;
  column-gap: 20px;
}

.tnc-policy a {
  color: #fff;
  text-decoration: none;
}

.logo-desc {
  margin-right: 200px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 750px) {
  .footer-bottom {
    grid-template-columns: 1fr;
  }
}
