.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner-section {
  position: relative;
  z-index: 999;
}

.general-loader {
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.loader-img {
  background: url(/public/images/general/loader.svg) no-repeat center;
  height: 120px;
  width: 120px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  color: rgb(0, 41, 84);
}

.banner-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background: linear-gradient(rgb(0, 41, 84) 0%, rgba(0, 41, 84, 0) 100%);
}

.banner-img {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: none;
  position: fixed;
  top: 0px;
  left: 0px;
  max-width: 100%;
  width: 1838px;
  height: 949px;
  overflow: hidden;
  pointer-events: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, opacity;
  margin-top: 0px;
  transform: translate3d(0px, 0px, 0px);
}

.white-color {
  color: #fff;
}

.text-align-center {
  text-align: center;
}

.section-padding {
  padding: 100px 0 !important;
}

.margin-tb-5 {
  margin: 5px 0 !important;
}

.card-shadow {
  box-shadow: 1px 0px 10px 3px rgb(7 35 41 / 3%) !important;
}

.small-banner {
  height: 585px;
}

.banner-gradient {
  background: linear-gradient(90deg, #0a1928 0%, rgba(10, 25, 40, 0.7), rgba(10, 25, 40, 0));
  z-index: auto;
}

.profile-setting-header {
  background-color: #1d2f40 !important;
}

.mr-t-0 {
  margin-top: 0;
}

.asset-img {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin: 0 5px;
  align-self: center;
}

.blue-text {
  color: #1483f8;
}

.story-desc li {
  padding-left: 26px;
  background: url('/public/images/general/check.svg') no-repeat;
  background-position: 0 5px;
  line-height: 2em;
  align-items: flex-start;
  color: #304151;
  margin-bottom: 1em;
  list-style: none;
  font-weight: 500;
}

.story-desc {
  list-style: none;
  padding-left: 0;
  font-size: 0.875em;
  color: #304151;
  line-height: 1.8;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: #c1c1c1;
}

@media only screen and (max-width: 750px) {
  p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1200px) {
  p {
    font-size: 16px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  p {
    font-size: 18px;
    line-height: 30px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-Heavy.woff2') format('woff2'),
    url('./font/Gilroy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-ExtraBold.woff2') format('woff2'),
    url('./font/Gilroy-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-HeavyItalic.woff2') format('woff2'),
    url('./font/Gilroy-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-Bold.woff2') format('woff2'),
    url('./font/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-Light.woff2') format('woff2'),
    url('./font/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-Medium.woff2') format('woff2'),
    url('./font/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-LightItalic.woff2') format('woff2'),
    url('./font/Gilroy-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-MediumItalic.woff2') format('woff2'),
    url('./font/Gilroy-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-SemiBold.woff2') format('woff2'),
    url('./font/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-Regular.woff2') format('woff2'),
    url('./font/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
